body {
	background-color: #0B0C10;
	margin: 0;
	text-align: center;
	font-family: 'Red Hat Text', sans-serif;
}

#nav-bar {
	display: flex;
	background-color: #66FCF1; 
	align-items: center;
	justify-content: space-around;
	color: #0B0C10;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
}

#logo {
	display: flex;
	align-items: center;
}

#logo-link {
	text-decoration: none;
	color: #0B0C10;
}

#cigimax-logo {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

#nav-title {
	margin: 0;
	font-size: 30px;
}

#nav-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.nav-item {
	padding: 0 10px;
}

.nav-item:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #FFFFFF;
}

#welcome {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*background-image: radial-gradient(#1F2833, #0B0C10);*/
	background-image: url(./Assets/BG1.jpg);
	background-size: cover;
}

#welcome-title {
	font-size: 80px;
	color: #66FCF1;
/*	color: #EC1B1B;*/
	margin: 0;
	text-shadow: 2px 2px 5px black;
}

#welcome-desc {
	margin: 0;
	color: #C5C6C7;
	font-size: 25px;
	font-style: italic;
	text-shadow: 1px 1px 5px black;
}

#project-main {
	display: flex;
	padding: 0px 200px 0px 200px;
	align-items: center;
	height: 100vh;
	background-image: radial-gradient(#1F2833, #0B0C10);
}

#project-cont {
	background-color: #C5C6C7;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.slideshow-container {
	height: 50%;
	width: 50%;
	padding: 20px 0px 20px 20px;
}

.slide-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.project-text {
	width: 40%;
	color: #0B0C10;
	padding: 0 20px;
}

.prev, .next {
  cursor: pointer;
  color: #0B0C10;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#grid-container {
	background-color: #C5C6C7;
	margin: 100px 50px 0px 50px;
	padding: 40px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	border-radius: 5px;
}

.product {
	border: 1px solid black;
}

.product-img {
	height: 250px;
}

.p-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.product-txt {
	color: #FFFFFF;
	background-color: #1F2833;
	text-align: center;
}

.product-desc {
	height: auto;
	padding: 10px;
	margin: 0 0;
}

#contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #0B0C10;
	border-bottom: 5px solid #66FCF1;
	padding: 150px 0px;
}

#contact-title {
	margin: 0;
	color: white;
	font-size: 50px;
	margin-bottom: 50px;
}

.contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1000px;
	flex-wrap: wrap;
}

.contact-details {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	padding: 0 20px;
}

footer {
	background-color: #1F2833;
	color: #FFFFFF;
	text-align: right;
	padding: 50px 50px 50px 50px;
}

#project-footer {
	display: block;
	padding: 0;
	width: 100%;
	border-top: 5px solid #66FCF1;
}

#footer-text {
	padding: 50px;
}

@media (max-width: 900px) {

	#grid-container {
		grid-template-columns: repeat(1, auto);
		padding: 40px 20px;
		margin: 0px;
		border-radius: 0px;
	}

	#welcome-title {
	font-size: 40px;
	color: #66FCF1;
	margin: 0;
	}

	#nav-bar {
	flex-direction: column;
	}

	#project-main {
	display: flex;
	padding: 0;
	align-items: center;
	margin-bottom: 150px;
	height: 100vh;
	background-image: none;
	}

	#project-cont {
	background-color: unset;
	border-radius: 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

	.slideshow-container {
	height: 190%;
	width: 100%;
	padding: 0;
}

	.project-text {
		justify-content: space-around;
		color: #FFFFFF;
	}


	.prev, .next {
  		color: #FFFFFF;
  		font-size: 30px;

}



}