body {
	margin: 0;
	text-align: center;
	font-family: 'Red Hat Text', sans-serif;
	background-image: url(Assets/BG5.jpg);
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-color: #464646;
  	color: white;
}

#sidebar {
	height: 100%;
	width: 0;
	overflow-x: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #FFF;
	color: #111;
	transition: 0.5s;
  	padding-top: 60px;
  	text-align: left;
}

#sidebar-title {
	padding: 0 0 0 30px;
	border-top: 1px solid gray;
}

.sidebar-link {
	text-decoration: none;
}

#list {
	list-style: none;
	padding: 0 0 0 30px;
}

#list-social {
	padding: 20px 0;
}

#btn {
	text-align: right;
	padding: 0 30px;
}

.openbtn {
	cursor: pointer;
}

.list-item {
	text-decoration: none;
	color: #111;
	font-family: 'Roboto';
	font-size: 20px;
}

#main {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	text-align: right;
}

div {
	padding: 50px;
	transition: background-color 0.5s;
}

#div1, #div2 {
	border-right: 1px solid rgba(198, 198, 198, 0.5);
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}

#div3 {
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}

#div4, #div5, #div6 {
	border-right: 1px solid rgba(198, 198, 198, 0.5);
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}

#div7 {
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}

#div1 {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: left;
}

#innerdiv {
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.innerdiv {
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.landing-link {
	text-decoration: none;
	color: #FFFFFF;
}

h3 {
	margin: 0;
	text-shadow: 1px 1px 5px black;
	font-size: 24px;
}

#title {
	margin: 0;
	text-shadow: 1px 1px 5px black;
	font-size: 48px;
}

#div2:hover {
	background-color: rgba(224, 156 ,158 , 0.9);
}

#div3:hover {
	background-color: rgba(210, 120 ,70 , 0.9);
}

#div4:hover {
	background-color: rgba(100, 150 ,190 , 0.9);
}

#div5:hover {
	background-color: rgba(120, 140 ,80 , 0.9);
}

#div6:hover {
	background-color: rgba(220, 160 ,60 , 0.9);
}

#div7:hover {
	background-color: rgba(170, 160 ,80 , 0.9);
}

@media only screen and (max-width: 1024px) {
    #main {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	text-align: right;
	}

	div {
		padding: 20px;
	}

	.innerdiv {
	justify-content: flex-start;
}

}