body {
	margin: auto 0;
	font-family: Arial;
	background-color: #FFFFFF;
}

.navbar {
	background-color: #323232;
}

.main-nav {
	display: flex;
	list-style: none;
	font-size: 1em;
	margin: 0;
	color: #FFFFFF;
}

.topped {
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	padding: 20px;
}

.push-right {
	margin-left: auto;
}

@media only screen and (max-width: 600px){
	.main-nav {
		font-size: 0.7em;
		padding: 0;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	margin-top: 1em;
	margin-bottom: 1em;
}

.access > img {
	width: 100%;
}

.access {
	text-align: center;
	margin: 20PX;
}

img.im-ac:hover {
	opacity: 0.7;
}

footer {
	text-align: center;
	display: flex;
	background-color: #323232;
	color: #FFFFFF;
	font-size: 1em;
	margin: 0;
	padding: 20px;
}

@media only screen and (max-width: 500px){
	footer {
		font-size: 0.7em;
		padding: 20px;
	}
	.access {
		margin: 0px;
	}

	/*hola*/

}
