body {
	margin: 0;
	text-align: center;
	font-family: 'Red Hat Text', sans-serif;
}

header {
	height: 180px;
/*	padding: 0 30px;*/
	background: transparent;
	color: #FFFFFF;
	text-shadow: 1px 1px 5px black;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
}

.navbar-toggle {
	display: none;
}

#header-title {
	margin-left: 30px;
}

#lista {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

p {
	margin: 0;
}

.lista-item {
	padding: 10px;
	transition: transform 0.5s;
}

.lista-item:hover {
	text-decoration: underline;
	transform: translateY(-5px);
}

#banner {
	height: 85vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

#banner-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#project-wrap {
	padding-top: 85vh;
}

#project-info {
	background-color: #FFFFFF;
	position: relative;
}

#project-block {
	padding-top: 50px;
}

#project-row {
	display: flex;
	padding-bottom: 100px;
	padding: 0 30px;
}

#info-tag {
	font-size: 25px;
}

#project-title {
	font-size: 25px;
}

#project-right-col {
	margin-left: 33.33%;
	text-align: left;
}

#project-description {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 50px;
}

#about-middle {
	width: 100%;
	height: 100vh;
	padding-bottom: 100px;
}

#about-middle-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#gc-container {
	width: 100%;
}

#gc-c-2 {
	margin: 0 30px;
	border-top: 1px solid gray;
}

#gc-section-title {
	text-align: left;
}

#gc-block {
	display: flex;
	width: 100%;
	height: 60vh;
	flex-direction: row;
	padding: 100px 0;

}

#left-col {
	width: 40%;
	text-align: left;
}

#right-col {
	width: 60%;
}

#gc-img {
	width: 90%;
	height: 100%;
	object-fit: cover;
}

#footer {
	font-family: 'Roboto', sans-serif;
	padding: 0 36px;
	height: 100px;
}

#footer-content {
	border-top: 1px solid gray;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	font-size: 16px;
	color: #000000;
}

@media only screen and (max-width: 1024px) {
  #header {
  	height: 100px;
  }

  #nav-tog {
  	width: 100%;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }

  #lista {
  	display: none;
  }

  .navbar-toggle {
  	display: initial;
  	cursor: pointer;
  	font-size: 24px;
  }

  #project-row {
  	flex-direction: column;
  	justify-content: center;
  }

  #project-tag {
  	display: none;
  }

  #project-right-col {
	margin: 0;
}
}

